/* static/style.css */
body {
	font-family: Arial, sans-serif;
	background: #f4f4f9;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#app {
	width: 100%;
	max-width: 500px;
	background: #fff;
	padding: 2rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
